BACKEND_PORT=3001
BACKEND_DOMAIN=localhost
FRONTEND_PORT=3000
FRONTEND_DOMAIN=localhost

# Postgres Variables
POSTGRES_PASSWORD=supersecret
POSTGRES_USER=postgres
POSTGRES_DB=AMS
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# NOTE: CHANGE URL WHEN YOU CHANGE ANY OF THE ABOVE
# Takes form of "postgresql://<user>:<password>@<host>:<port>/<database>"
POSTGRES_URL=postgresql://postgres:supersecret@localhost:5432/AMS